
li {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    background-color:  rgb(29, 29, 29);
    color: white;
    border-radius: 2px;
}
.song-title {
    justify-self: flex-start;
    flex: 1;
}

.song-plays, .fav-btn, .lyrics-btn{
    margin-left: 1em;
    justify-self: flex-end;
}


