@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(17, 17, 17);
    color: white;
}

main {
    display: flex;
    flex-flow: column;
    margin: 2vh 15vw;
    /* width: 100%; */
}

section {
    margin: 2em 0;
}

/* HEADINGS */
h1, h2, h3, h4 {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
    font-weight: lighter;
}

h4 {
    font-size: 2em;
}


/* SCROLLBARS */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ffffff00;
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ICON BUTTONS */
.icon {
    display: inline-block;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
}

.icon:hover {
    transform: scale(1.4);
}

.rotate {
    /* transition: all 0.5s; */
    /* transform: rotate(180deg) */
    animation: rotate 0.5s;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
  }
